*{ 
    margin: 0; 
    padding: 0; 
    font-family: sans-serif; 
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
 
::-webkit-scrollbar{  
    display: none; 
} 
  
.prilozhenie{  
    background-color: white;  
    height: 100%; 
}  
  
header{  
    display: flex;  
    justify-content: space-around;  
    align-items: center;  
    width: 100%;  
    position: fixed;  
    background: white;  
    z-index: 100;  
    height: 45px; 
}  
  
.h2-perevodi{ 
    font-size: 18px; 
} 
 
.uvedomleniye{ 
  margin-bottom: 6px; 
} 
 
.elastic-effect { 
  transition: transform 0.5s ease; 
} 
  
main{  
  height: 100%; 
  overflow: hidden; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}  
  
main::-webkit-scrollbar{  
    width: 0;  
}  
  
.main-header{  
    display: flex;  
    justify-content: center;  
    align-items: center;  
    flex-direction: column;  
}  
  
.card1{  
    display: flex;      
    align-items: center;  
    width: 350px;  
    height: 125px;  
    background: white;  
    font-size: 8px;  
    border-radius: 10px;   
    margin-top: 63px;  
}  
  
.dc-image1{  
    border: 1px solid grey;  
    border-radius: 50px;  
    width: 35px;  
    margin-left: 15px; 
}  
 
.card1-text{ 
    margin-left: 10px; 
} 
 
.card2{  
    display: flex;  
    justify-content: space-between;  
    align-items: center;  
    width: 350px;  
    height: 85px;  
    color: grey;  
    background: white;  
    font-size: 8px;  
    border-radius: 10px;   
    margin-top: 15px; 
} 
  
footer{  
    display: flex;  
    justify-content: space-between;  
    position: fixed;  
    height: 7.5%;  
    bottom: 0;  
    background: #F1F1F3;  
    width: 393px;  
}  
  
.footer-block1{  
    display: flex;  
    border-top: 1px solid gainsboro;  
    border-radius: 25px;  
    padding-right: 25px;  
    padding-top: 10px;  
}  
  
.footer-block2{  
    display: flex;  
    border-top: 1px solid gainsboro;  
    border-radius: 25px;  
    padding-left: 25px;  
    padding-top: 10px;  
}  
  
.footer-razdel1{ 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    width: 75px; 
} 
 
.footer-razdel2{ 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    width: 90px; 
} 
 
.footer-razdel3{ 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    width: 50px; 
    margin-right: 25px; 
} 
 
.footer-razdel5{ 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    width: 70px; 
    margin-right: 15px; 
} 
  
.footer-razdel4{  
  height: 200px; 
  border-bottom: 2px solid gainsboro; 
  border-radius: 25px; 
  width: 100px; 
}  
 
.scanner{ 
  z-index: 200; 
  position: absolute; 
  right: 175px; 
  bottom: 30px;  
  padding-bottom: 5px; 
  border-bottom: 2px solid gainsboro; 
  border-radius: 25px; 
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3); 
  background: #cacaca; 
} 
  
.footer-undertext{  
    font-size: 10px;  
    font-weight: 700;  
    color: rgb(161, 159, 159);  
}  
 
.notification { 
  display: none; 
  position: fixed; 
  top: -100px; 
  left: 50%; 
  transform: translateX(-50%); 
  color: black; 
  padding-left: 15px; 
  padding-top: 10px; 
  border-radius: 15px; 
  z-index: 9999; 
  transition: all 0.5s ease; 
  background: transparent; 
  backdrop-filter: blur(70px); 
  width: 250px; 
  height: 60px; 
} 
 
.telephon-number-in-menu{ 
  color: grey; 
} 
 
.ispvp{ 
  display: flex; 
  align-items: center; 
} 
 
.link-in-menu{ 
  margin-top: 105px; 
} 
 
.vikhod-btn{ 
  margin-top: 50px; 
  width: 250px; 
  height: 50px; 
  border: 0; 
  border-radius: 15px; 
  font-size: 25px; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  color: white; 
  background: #017CFE; 
} 
 
a{ 
    text-decoration: none; 
} 
 
.skeleton{ 
    position: relative; 
} 
 
.skeleton::before{ 
    content: ''; 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 393px; 
    height: 100%; 
    z-index: 10000; 
    background-image: url(images/apploading.jpg); 
    background-size: 100%; 
    background-repeat: no-repeat; 
    background-color: white; 
} 

.form.openn {
    bottom: 0;
}


.form{
  border: 2px solid grey;
  border-radius: 5px;
  height: 820px;
  width: 100%;
  bottom: -850px;
  position: absolute;
  transition: bottom 0.4s;
  background: #F1F1F3;
  z-index: 700 !important;
  overflow-y: hidden;
}

.form-header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #017CFE;
  height: 40px;
  padding-top: 30px;
  color: white;
}

.form-back-icon{
  font-size: 35px;
}

.form-main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-input1{
  border: 0;
  width: 350px;
  height: 45px;
  border-radius: 10px; 
  margin-top: 20px;
  margin-right: 5px;
  padding: 10px;
  font-size: 16px;
}

.form-button1{
  border: 0;
  width: 350px;
  height: 50px;
  border-radius: 15px; 
  margin-top: 12px;
  margin-right: 5px;
  background: skyblue;
  color: #017CFE;
}

.form-input2{
  border: 0;
  width: 350px;
  height: 45px;
  border-radius: 10px; 
  margin-top: 12px;
  margin-right: 5px;
  padding: 10px;
  font-size: 15px;
  font-weight: 500;
}

.form-input3{
  border: 0;
  width: 350px;
  height: 45px;
  border-radius: 10px; 
  margin-top: 10px;
  margin-right: 5px;
   padding: 10px;
   font-size: 16px;
}

.min-summa{
  margin-top: 5px;
  margin-left: 250px;
  color: grey;
  font-weight: 00;
}

.form-blocks{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 15px;
}

.form-block1{
  background: #017CFE;
  color: white;
  border-radius: 15px;
  width: 90px;
  height: 60px;
  padding: 10px;
  margin-right: 7px;
}

.form-block2{
  background: white;
  color: grey;
  border-radius: 15px;
  width: 90px;
  height: 60px;
  padding: 10px;
  margin-left: 7px;
  font-weight: 700;
}

.form-text{
  margin-left: 5px;
  margin-top: 12px;
  font-size: 14px;
  color: grey;
}

.form-button2{
  border: 0;
  color: white;
  background: darkorange;
  border-radius: 15px;
  width: 350px;
  height: 65px;
  margin-top: 165px;
  font-size: 17px;
  font-weight: 700;
}

.h2-block1{
  height: 40px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid #017CFE;
  margin-right: 100px;
}

    .update{
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 70px;
      text-align: center;
      color: #B3C3D7;
      font-size: 15px;
    }

    .date {
      text-align: center;
      margin-bottom: 8px;
      font-weight: bold;
      color: black;
      font-size: 14px;
    }
    .check-istoriya {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 87%;
      background-color: #EEF5FF;
      border-radius: 12px;
      padding: 16px;
      margin: 16px 0;
      /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    }

    .check-istoriya p {
      margin: 0;
      font-size: 0.9em;
      color: #ACB0B5;
    }
    .check-istoriya h3 {
      margin: 0;
      font-size: 1.2em;
      color: #333;
      margin-bottom: 8px;
    }
    .check-istoriya .phone-number {
      font-weight: bold;
      color: #323F62;
      margin-bottom: 4px;
      font-size: 17px;
    }
   
    .check-istoriya .amount-time {
      display: flex;
      flex-direction: column;
      align-items: end;
      font-weight: 600;
    }

    .amount-time-block1{
      display: flex;
    }

    .check-istoriya .amount {
      font-weight: 900;
      color: #616161;
      font-size: 1.2em;
    }
    .check-istoriya .time {
      color: #555;
      margin-left: 22px;
      margin-top: 3px;
    }

    .check-istoriya img{
      margin-left: 10px;
    }

    .modal {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(203, 203, 203, 0.3);
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      transition: transform 0.3s ease;
      transform: translateY(100%);
      z-index: 1000;
    }

    .modal-block{
      display: flex;
      width: 364px;
      height: 75%;
      border-radius: 20px 20px 0 0;
      background: #fff;
      color: #000;
      padding: 15px;
      /* box-sizing: border-box; */
    }

    .modal-block p {
      margin: 15px;
      font-size: 18px;
    }

    .modal-content .close {
      cursor: pointer;
      text-align: center;
      margin-top: 23px;
      border: 0;
      color: white;
      background: darkorange;
      border-radius: 15px;
      width: 355px;
      height: 60px;
      font-size: 20px;
    }

    .modal-content{
      width: 150px;
      margin-top: 80px;
    }

    .modal-content p{
      width: 160px;
      text-align: start;
    }

    .modal-content2{
      margin-top: 80px;
      width: 220px;
      text-align: end;
    }

    .modal-content2 p{
      margin-right: 20px;
    }

    .dcpt{
      text-align: start !important;
      width: 217px;
      font-size: 16.5px !important;
    }

    .show {
      transform: translateY(0);
    }

    .line-in-modal{
      border: 1.5px solid rgb(156, 153, 153);
      width: 90%;
      margin-bottom: 0px;
      position: absolute;
    }

    .line-in-modal-2{
      border: 1.5px solid rgb(156, 153, 153);
      width: 90%;
      /* margin-top: px; */
      position: absolute;
    }

    .swipe-line{
      border: 2px solid grey;
      border-radius: 15px;
      width: 76px;
      margin-left: 150px;
      position: absolute;
      bottom: 640px;
    }

    .mbimg{
      display: flex;
    }

    @keyframes explode {
      from {
        transform: scale(1);
        opacity: 1;
      }
      to {
        transform: scale(1.5);
        opacity: 0;
      }
    }

@media (width > 394px) {
    .container{ 
        width: 100%;
    } 
     
    .prilozhenie{ 
        width: 100%; 
    } 

    header{
        width: 100%;
    }

    .menu2{
        width: 200px;
    }

    main{
        width: 100%;
    }

    footer{
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .footer-block1, .footer-block2{
        display: flex;
        padding-left: 0px;
        padding-right: 0px;
    }

    .scanner{
        left: 45%;
    }
}

.modaltt {
    position: fixed;
    top: 30%;
    left: 4%;
    background: rgba(234, 230, 230, 0.7);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 360px;
    height: 250px;
    display: none;
    z-index: 1999;
    /* transform: translate(-50%, -50%); */
}

.modaltt h2 {
    margin: 0;
    font-size: 1.5em;
}

.modaltt p {
    margin: 20px 0;
    font-size: 1em;
    color: #333;
}

.button-containertt {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

.btntt {
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 1.5em;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-btntt {
    background-color: #007BFF;
}

.red-btntt {
    border-radius: 50%;
    border: 4px solid white;
    background-color: #DC3545;
    padding-bottom: 5px;
}

.bx{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 3px solid #DC3545;
}


.p-b{
  width: 360px;
  height: 110px;
  background-color: #dfdede;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) inset,
        0 -4px 8px rgba(0, 0, 0, 0.2) inset;
}

.circle{
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer{
  width: 48px;
  height: 48px;
  background-color: white;
  border: 3px solid #0066cc;
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.3);
}

.middle{
  width: 25px;
  height: 25px;
  background-color: white;
  border: 7px solid #0066cc;
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.5);
}

.inner{
  width: 15px;
  height: 15px;
  background-color: #0066cc;
  border: 3px solid white;
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.5);
}

.menu-sfera{
  margin-top: 545px;
  margin-left: 298px;
}